@font-face{font-family:"Zen Maru Gothic";font-style:normal;font-weight:500;font-display:swap;src:url("./assets/zen-maru-500.woff2")}
@font-face{font-family:"Zen Maru Gothic";font-style:normal;font-weight:700;font-display:swap;src:url("./assets/zen-maru-700.woff2")}
@font-face{font-family:"Zen Maru Gothic";font-style:normal;font-weight:900;font-display:swap;src:url("./assets/zen-maru-900.woff2")}
